h1{ 
width:170px;
height:115px;
;background-color:#616161;
margin-left:80px;
text-align: center;
color:#6dd5ed;
font-size:30px;
font-style:italic; 
}
#My_photo{ 
margin-left:0;
border-left:solid 55px #616161;
}
.bar{
margin-left:60%;

}

.bar-ul{
list-style-type:none;
padding:0px; overflow:hidden;
}
.bar-li{
padding:10px;
margin-left:20px;
margin-right:30px;
border-radius:30%;
width:60px;
height:40px;
border:solid 1px black;

text-align:center;
margin-top:10px;
float:left;
background-color:#616161;
}
.naam{
float:right;
margin-left:60px;
margin-right:70px;
margin-top:50px;
border-radius:30%;
border:solid 1px black;
background-color:white;

}
.col a{ 
color:#2c5364;
}
 a{
 text-decoration:none; color:#6dd5ed;
 }
a:hover{
color:#ee9ca7;
text-decoration:none;
}
h2{
background-color:#6dd5ed;
border-style:ridge; 
color:black;
font-style: italic;
}
.About{
margin-top:70px;
margin-left:30px;
padding:20px;
width:500px;
font-size:1.5em;
}
.nam{
margin-top:20px;
margin-left:380px;
font-size:1.5em;
}
.work{
margin-left:30px;
width:540px;
font-size:1.5em;
}
.content{
background-position-x: 90%;
    background-position-y: 60%;
    background-image:url("https://st.depositphotos.com/1470939/1840/i/950/depositphotos_18408157-stock-photo-designed-grunge-texture-old-painted.jpg"); 
border-radius :10%;
border:solid 3px black;
margin-right:30px;
margin-left:30px;
margin-top:30px;
}
