 #logotype{width: 160px;
height:100px ;
margin-left: 400px;}
#topMenu {background-color:#168eca;
margin-top: 50px;
margin-bottom: 50px;
box-sizing: border-box;}
#topMenu ul{list-style: none;
margin:0;
padding:0;
overflow: hidden;
margin-top:0px;
 background-color:#168eca;
 
}
#topMenu li{float:left;
    
}
#topMenu li a {display: inline-block;
text-align: center;
padding:14px 16px;
text-decoration: none;
}

.topTaskNavigation{background-image: url('https://www.rijksoverheid.nl/binaries/widescreen/content/gallery/rijksoverheid/content-afbeeldingen/nieuws-alleen-centrale-redactie/home/2018/basispakket-zorgverzekering-hero.jpg');
height: 270px;
display: block;
position: relative;
display: flex;
flex-wrap: wrap;
margin-left: 10px;
width: 100%;

  }
  .list{background-color: white;
margin-left: 50px;width: 60%;
padding-left: 30px;
margin-top: 0;
line-height: 2em;}
#navBar:before{content:" ";
display:table;}

h1{box-sizing: border-box;
list-style:none;
text-align:left;}
.assistive{overflow:hidden ;
     
clip: rect(0,0,0,0);
width:1px;
height:1px ;
border:0;}
.breadCrumbNav{order:1;
    flex-wrap: wrap;
    align-items: center;
    font-size:1.20em;
   
    font-weight:normal;

}
h2{border:0;
list-style: none;
text-align: left;
box-sizing: border-box;
vertical-align: top;}
ul{margin:0;
list-style: none;
text-align: left;
vertical-align: top;
box-sizing: border-box;
position: relative;
width:100%;
margin:0 0 5px;

}
li{ padding:0;
    list-style:none ;
text-align: left;
vertical-align: top;
box-sizing: border-box;} 

 

.topTaskNavigation{position: relative;
    padding-right: 15px;

   min-height: 1px;
padding-right: 15px;
    padding-left: 15px;
    background-color: #fff;
    padding: 15px 15px 20px 15px;
}
.navItem{width:30%;
    margin: 0 0 25px 0;
  
text-align: left;
float: left;
height: 150px;;

padding: 10px;

justify-content: space-between;

display: flex;
position: relative;
list-style: none;


}
.fourItems{height: 20px;
 
width: 100%;}




    
.brick img{width: 250px;
    height: 260px;
    



}




.brickrow {
    position: relative;
    margin: auto;
   
    margin: 0;
    clear: both;
    
   
}
.brickrow::before{content: "";
display: table;box-sizing: border-box;}


@media  {.brick:nth-child(2n +1) {
    clear: both;}
}
@media  {.brick { 
    float: left;
width: 100%;}
}
#mainwrapper {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
}

.wrapper{ }
.publdate{width:30%;
    margin: 0 0 25px 0;
  
text-align: left;
float: left;
height: 150px;;

padding: 10px;

justify-content: space-between;

display: flex;
position: relative;
list-style: none;


}

.brick{float: left;display: flex;width: 100%;margin-top: 70px;}
 .brick div{
    width: 100%;
    margin: 10px;
    text-align:center;
    font-size:20px;
    padding-left: 15px;
    padding-right: 15px;
}

table{border-top: solid 1px black;margin-left: 20px;
    margin-right: 20px;
width: 100%;}
.nieuws{ width: 100%;
}

.nieuws td{position: relative;
padding-top: 20px;
padding-left: 15px;
padding-right: 15px;
line-height: 1.3em;
font-size: 20px;
text-decoration:none;
box-sizing: border-box;}
.nieuws td p{padding-top: 10px;
color:black;

}
.more{margin:50px 30px 40px;
    padding-top: 40px;
font-size:20px;
font-style:unset;
color:black; }

.brick h3, .brick span.caption {
    font-size: 1.75rem;
    line-height: 2rem;
    font-weight: normal;
    margin: 0 0 10px 0;
    
}

    #footer{background-color:#168eca; color: white;
        
    }
    .column a {color: white;}
    #footer .wrapper .column ul li {line-height: 1.5em;
        width: 100%;
        list-style: none;
        float: left;
        
        
    }
    #footer .wrapper .column ul {
        margin: 0;
        padding: 0;
        
    }
    #footer .wrapper .column {
      
        float: left;
        width: 25%;
    
        position: relative;
       
        padding-left: 15px;
        padding-right: 10px;
margin-left: 120px;
    }
    .languages{width:100%;
    margin-top: 400px;
background-color: white;}
    .payoff{margin-right: 300px;
        font-size: 2em;
        margin-top: 30px;
        padding-top: 40px;
    }
    a{position: relative;
        padding-left: 20px;
         color: #01689b;
         font-weight:bold;
         text-decoration: none;
         width:auto;
         
        }
