#logotype{width: 160px;
height:100px ;
margin-left: 400px;}

#topMenu ul{list-style: none;
margin:0;
padding:0;
overflow: hidden;
background-color: #01689b;
margin-top:0px;
}
#topMenu li{float:left;
}
#topMenu h1 li a {display: inline-block;
text-align: center;
padding:14px 16px;
text-decoration: none;
}

.topTaskNavigation{background-image: url('https://www.rijksoverheid.nl/binaries/widescreen/content/gallery/rijksoverheid/content-afbeeldingen/nieuws-alleen-centrale-redactie/home/2018/basispakket-zorgverzekering-hero.jpg');
height: 270px;
display: block;
position: relative;
display: flex;
flex-wrap: wrap;
margin-left: 10px;
width: 100%;
  }
  .list{background-color: white;
margin-left: 50px;width: 60%;
padding-left: 30px;
margin-top: 0;}
#navBar:before{content:" ";
display:table;}


.assistive{overflow:hidden ;
     
clip: rect(0,0,0,0);
width:1px;
height:1px ;
border:0;}
.breadCrumbNav{order:1;
    flex-wrap: wrap;
    align-items: center;
    font-size:1.20em;
   
    font-weight:normal;

}
h2{border:0;
list-style: none;
text-align: left;
box-sizing: border-box;
vertical-align: top;}
ul{margin:0;
list-style: none;
text-align: left;
vertical-align: top;
box-sizing: border-box;
position: relative;
width:100%;
margin:0 0 5px;

}
li{ padding:0;
    list-style:none ;
text-align: left;
vertical-align: top;
box-sizing: border-box;} 
a{position: relative;
padding-left: 20px;
 color: #01689b;
 font-weight:bold;
 text-decoration: none;
 width:auto;
 
}
.topTaskNavigation{position: relative;
    padding-right: 15px;

   min-height: 1px;
padding-right: 15px;
    padding-left: 15px;
    background-color: #fff;
    padding: 15px 15px 20px 15px;
}
.navItem{width:30%;
    margin: 0 0 25px 0;
  
text-align: left;
float: left;
height: 150px;;

padding: 10px;

justify-content: space-between;

display: flex;
position: relative;
list-style: none;


}
.fourItems{height: 20px;
 
width: 100%;}




    
.brick img{width: 250px;
    height: 260px;
    



}




.brickrow {
    position: relative;
    margin: auto;
   
    margin: 0;
    clear: both;
    
   
}
.brickrow::before{content: "";
display: table;box-sizing: border-box;}
.fullWidthSection div{
width: 100%;
margin-left: 10px;
flex-wrap:wrap;}
@media  {.brick:nth-child(2n +1) {
    clear: both;}
}
@media  {.brick { 
    float: left;
width: 100%;}
}
#mainwrapper {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
}

.wrapper{ }
.publdate{width:30%;
    margin: 0 0 25px 0;
  
text-align: left;
float: left;
height: 150px;;

padding: 10px;

justify-content: space-between;

display: flex;
position: relative;
list-style: none;


}

.brick{width: 100%;}
.brick ul{list-style: none;
    margin:0;
    padding:0;
    overflow: hidden;
    margin-top: 100px;
    }
    .brick li{float:left;
    }
    .brick li a {display: inline-block;
    text-align: center;
    padding:14px 16px;
    text-decoration: none;
    }
